@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  background: #fff;
  position: relative;
}

/* Navbar */

.site-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 120px;
  border-bottom: 1px solid var(--Color-grey-50, #f2f2f2);
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar-logo img {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.navbar-links a {
  color: #000;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-links a:hover {
  color: var(--Color-red-Primary, #e50f0d);
}

.navbar-cta {
  display: flex;
  height: 48px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--Color-black-Primary, #111);
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-cta:hover {
  background: #e50f0d;
}

.navbar-cta span {
  color: var(--Color-Bg, #fff);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.navbar-cta svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

/* Home */

.home-banner {
  width: 100%;
  height: calc(100svh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 80px;
  padding: 60px 120px 80px 120px;
  position: relative;
  overflow: hidden;
}

.home-banner-background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  object-fit: cover;
}

.home-banner header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 1;
}

.home-banner header h1 {
  max-width: 856px;
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-banner header h1 span {
  color: var(--Color-red-Primary, #e50f0d);
}

.home-banner header p {
  max-width: 752px;
  color: var(--Color-black-400, #414141);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.template {
  width: 100%;
  display: flex;
  padding: 80px 120px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.template-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.template-heading h2 {
  color: var(--Color-black-Primary, #111);
  text-align: center;
  font-family: "DM Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.template-heading p {
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  background: linear-gradient(
        to bottom right,
        #c6181e 0%,
        #b3161b 24%,
        #6d0000 50%
      )
      bottom right / calc(50% + 1px) calc(50% + 1px) no-repeat,
    linear-gradient(to bottom left, #c6181e 0%, #b3161b 24%, #6d0000 50%) bottom
      left / calc(50% + 1px) calc(50% + 1px) no-repeat,
    linear-gradient(to top left, #c6181e 0%, #b3161b 24%, #6d0000 50%) top left /
      calc(50% + 1px) calc(50% + 1px) no-repeat,
    linear-gradient(to top right, #c6181e 0%, #b3161b 24%, #6d0000 50%) top
      right / calc(50% + 1px) calc(50% + 1px) no-repeat;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.template-heading p span {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  flex-shrink: 0;
  background: linear-gradient(
        to bottom right,
        #c6181e 0%,
        #b3161b 24%,
        #6d0000 50%
      )
      bottom right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #c6181e 0%, #b3161b 24%, #6d0000 50%) bottom
      left / 50% 50% no-repeat,
    linear-gradient(to top left, #c6181e 0%, #b3161b 24%, #6d0000 50%) top left /
      50% 50% no-repeat,
    linear-gradient(to top right, #c6181e 0%, #b3161b 24%, #6d0000 50%) top
      right / 50% 50% no-repeat,
    #d9d9d9;
}

.home-about {
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.home-about-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 40px);
  gap: 16px;
}

.home-about-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-about-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 40px);
  gap: 16px;
  padding: 0px 50px;
}

.home-about-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-about-gallery img:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / span 6;
}

.home-about-gallery img:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / span 3;
}

.home-about-gallery img:nth-child(3) {
  grid-column: 2;
  grid-row: 4 / span 3;
}

.home-about-gallery img:nth-child(4) {
  grid-column: 3;
  grid-row: 1 / span 4;
}

.home-about-gallery img:nth-child(5) {
  grid-column: 3;
  grid-row: 5 / span 2;
}

.home-about p {
  color: var(--Color-black-300, #606060);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-why {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.home-why article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.home-why article img {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  flex-shrink: 0;
}

.home-why-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.home-why article h3 {
  color: var(--Color-black-Primary, #111);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-why article p {
  color: var(--Color-black-300, #606060);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-services {
  background: var(--Color-grey-50, #f2f2f2);
}

.home-services-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.home-services-container article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  background: #fff;
  margin-bottom: 24px;
}

.home-services-container article img {
  width: 100%;
  aspect-ratio: 387/351;
  object-fit: cover;
}

.home-services-text {
  width: 100%;
  display: flex;
  padding: 0 8px 16px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.home-services-text h3 {
  color: var(--Color-black-Primary, #111);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-services-text p {
  color: var(--Color-black-300, #606060);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-services-content {
  grid-column: span 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.home-services-content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.home-services-content h2 {
  color: var(--Color-red-Primary, #e50f0d);
  font-family: "DM Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home-services-content p {
  color: var(--Color-black-300, #606060);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-trailer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.home-trailer-tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.home-trailer-tabs button {
  width: 100%;
  display: flex;
  padding-top: 8px;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}

.home-trailer-tabs .active-tab {
  background: var(--Color-red-50, #fce7e7);
}

.home-trailer-tabs button p {
  color: var(--Color-grey-400, #959595);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s;
}

.home-trailer-tabs .active-tab p {
  color: var(--Color-red-Primary, #e50f0d);
}

.home-trailer-tabs button:hover p {
  color: var(--Color-red-Primary, #e50f0d);
}

.home-trailer-tabs button hr {
  width: 100%;
  border: 1px solid #959595;
  transition: all 0.3s;
}

.home-trailer-tabs .active-tab hr {
  border: 1px solid #e50f0d;
}

.home-trailer-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.home-trailer-cards article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.home-trailer-cards article img {
  width: 100%;
  aspect-ratio: 590/351;
  object-fit: cover;
}

.home-isk {
  width: 100%;
  display: flex;
  padding: 80px 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: var(--Color-grey-50, #f2f2f2);
}

.home-isk img {
  width: 56px;
  height: 56px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  object-fit: cover;
}

.home-isk header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.home-isk header h2 {
  color: var(--Color-black-Primary, #111);
  text-align: center;
  font-family: "DM Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-isk header h2 span {
  color: var(--Color-red-Primary, #e50f0d);
}

.home-isk header p {
  max-width: 752px;
  color: var(--Color-black-400, #414141);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-products .home-services-content {
  grid-column: auto;
}

.home-testimony {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 33px;
}

.home-testimony-container {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.home-testimony-slide {
  width: 100%;
  display: flex;
  gap: 24px;
}

.home-testimony-set {
  width: calc(100% / 3 - 16px);
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: 40px;
  flex-shrink: 0;
  background: var(--Color-grey-50, #f2f2f2);
}

.home-testimony-set p {
  color: var(--Color-black-300, #606060);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-testimony-set-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.home-testimony-set h3 {
  color: var(--Color-black-Primary, #111);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-testimony-set span {
  color: var(--Color-black-300, #606060);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-testimony-arrows {
  display: flex;
  align-items: center;
  gap: 8px;
}

.home-testimony-arrows button {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border: 1px solid var(--Color-grey-100, #d6d6d6);
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}

.home-testimony-arrows button:hover {
  border: 1px solid var(--Color-grey-100, #111);
  background: #111;
}

.home-testimony-arrows button:active {
  background: #fff;
  border: 1px solid var(--Color-grey-100, #111);
}

.home-testimony-arrows button:disabled {
  cursor: default;
  background: #e0e0e0;
  opacity: 0.6;
}

.home-testimony-arrows button:disabled:hover {
  background: #e0e0e0;
  border: 1px solid var(--Color-grey-100, #e0e0e0);
}

.home-testimony-arrows button svg {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.home-testimony-arrows button:hover svg path {
  fill: #fff;
}

.home-testimony-arrows button:disabled svg path {
  fill: #9e9e9e;
}

.home-contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 120px 0px 120px;
  background: linear-gradient(180deg, #fff, #fff 50%, #111 50%, #111);
}

.footer-contact {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-contact img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-contact-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  max-width: 643px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footer-contact-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.footer-contact-header h2 {
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-contact-header p {
  color: var(--Color-black-50, #e7e7e7);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-contact .navbar-cta:hover {
  background: #fff;
}

.footer-contact .navbar-cta:hover span {
  color: #111;
}

.footer-contact .navbar-cta:hover svg path {
  fill: #111;
}

/* Contact */

.contact-banner {
  width: 100%;
  display: flex;
  padding: 60px 120px 80px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contact-banner h1 {
  max-width: 856px;
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-banner h1 span {
  color: var(--Color-red-Primary, #e50f0d);
}

.contact-banner p {
  max-width: 752px;
  color: var(--Color-black-400, #414141);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contact-form {
  width: 100%;
  display: flex;
  padding: 40px 120px 80px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.contact-form-container {
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.contact-form-input {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.contact-form-fields {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-form-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.contact-form-input-container label {
  color: #000;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contact-form-input-container label span {
  color: var(--Color-red-Primary, #e50f0d);
}

.contact-form-input-container input,
.contact-form-input-container textarea {
  width: 100%;
  display: flex;
  height: 48px;
  padding: 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: none;
  outline: none;
  background: var(--Color-grey-50, #f2f2f2);
  color: var(--Color-grey-300, #a7a7a7);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contact-form-input-container textarea {
  height: 200px;
  resize: none;
}

.contact-form-input-container input:not(:placeholder-shown),
.contact-form-input-container textarea:not(:placeholder-shown) {
  color: #111;
}

.contact-form-container button {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--Color-black-Primary, #111);
  color: var(--Color-Bg, #fff);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.contact-form-container button:hover {
  background: #e50f0d;
}

.contact-information {
  display: flex;
  padding: 80px 120px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.contact-information-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contact-information-set h3 {
  color: var(--Color-red-Primary, #e50f0d);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-information-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.contact-information-set a {
  color: var(--Color-black-300, #606060);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
}

.contact-information-set a:hover {
  color: #111;
}

.contact-information-set span {
  color: var(--Color-black-200, #929292);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 120px;
  background: #111;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}

.footer-container-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 40px;
}

.footer-brand {
  display: flex;
  width: 283px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.footer-brand img {
  width: 56px;
  height: 56px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  object-fit: cover;
}

.footer-brand p {
  color: var(--Color-black-100, #b5b5b5);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  list-style: none;
}

.footer-links a {
  color: var(--Color-black-100, #b5b5b5);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.footer-container hr {
  width: 100%;
  border: 1px solid #414141;
}

.footer-container-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: var(--Color-black-300, #606060);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-container-bottom ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.footer-container-bottom a {
  color: var(--Color-black-300, #606060);
  text-decoration: none;
  transition: all 0.3s;
}

.footer-container-bottom a:hover {
  color: #fff;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  .navbar {
    height: 56px;
    padding: 0 20px;
  }

  .navbar-logo img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
  }

  .mobile-navbar-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .mobile-navbar-button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .mobileNavbar {
    width: 100%;
    height: calc(100svh - 56px);
    background: #fff;
    position: fixed;
    top: 55px;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    padding: 40px 20px 20px 20px;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
    }
  }

  .activeMobileNavbar {
    transform: translateX(0);
    animation: slideIn 0.3s forwards;
  }

  .nonactiveMobileNavbar {
    transform: translateX(100%);
    animation: slideOut 0.3s forwards;
  }

  .mobileNavbar nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }

  .mobileNavbar nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
  }

  .mobileNavbar nav ul a {
    display: flex;
    height: 48px;
    padding: 10px 0;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    color: var(--Color-black-300, #606060);
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .mobileNavbar .navbar-cta {
    width: 100%;
  }

  .mobileNavbar-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 16px;
    border-top: 1px solid #e7e7e7;
  }

  .mobileNavbar-bottom span {
    color: var(--Color-black-300, #606060);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .mobileNavbar-bottom p {
    color: var(--Color-black-200, #929292);
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .mobileNavbar-bottom p a {
    color: var(--Color-black-200, #929292);
    text-decoration: none;
    border-bottom: 1px solid;
  }

  /* Home */

  .home-banner {
    display: flex;
    padding: 52px 20px;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-start;
    gap: 64px;
  }

  .home-banner-background {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: static;
    transform: none;
    left: auto;
    top: auto;
  }

  .home-banner header h1 {
    color: var(--Color-black-Primary, #111);
    text-align: center;
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .home-banner header p {
    color: var(--Color-black-400, #414141);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .template {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .template-heading p {
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .template-heading h2 {
    color: var(--Color-black-Primary, #111);
    text-align: center;
    font-family: "DM Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .home-about-gallery {
    padding: 0;
    gap: 4px;
    grid-template-rows: repeat(6, 20px);
  }

  .home-why {
    display: flex;
    flex-direction: column;
  }

  .home-why article {
    gap: 12px;
  }

  .home-why article img {
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
  }

  .home-why article h3 {
    color: var(--Color-black-Primary, #111);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .home-services-container {
    display: flex;
    flex-direction: column;
  }

  .home-services-container article {
    margin: 0;
  }

  .home-services-text h3 {
    color: var(--Color-black-Primary, #111);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .home-services-content h2 {
    color: var(--Color-red-Primary, #e50f0d);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .home-services-content p {
    color: var(--Color-black-300, #606060);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-trailer-tabs {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .home-trailer-tabs::-webkit-scrollbar {
    display: none;
  }

  .home-trailer-tabs button {
    width: auto;
    flex-shrink: 0;
    padding: 0;
  }

  .home-trailer-tabs button p {
    padding: 14px 16px 0px 16px;
  }

  .home-trailer-cards {
    display: flex;
    flex-direction: column;
  }

  .home-isk {
    padding: 80px 20px;
  }

  .home-isk header h2 {
    color: var(--Color-black-Primary, #111);
    text-align: center;
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .home-isk header p {
    color: var(--Color-black-400, #414141);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-testimony-container {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .home-testimony-container::-webkit-scrollbar {
    display: none;
  }

  .home-testimony-slide {
    gap: 16px;
  }

  .home-testimony-set {
    width: 80%;
  }

  .home-testimony-set p {
    font-size: 16px;
  }

  .home-contact {
    padding: 32px 20px 0px 20px;
    background: linear-gradient(180deg, #fff, #fff 80%, #111 80%, #111);
  }

  .footer-contact-content {
    width: 100%;
    max-width: 100%;
  }

  .footer-contact-header h2 {
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .footer-contact-header p {
    color: var(--Color-black-50, #e7e7e7);
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  footer {
    padding: 40px 20px;
  }

  .footer-container-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  .footer-brand {
    width: 100%;
    max-width: 283px;
  }

  .footer-links {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .footer-links a {
    font-size: 16px;
  }

  .footer-container-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    color: var(--Color-black-200, #929292);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer-container-bottom p:first-child {
    display: none;
  }

  .footer-container-bottom a {
    color: var(--Color-black-200, #929292);
  }
}
